.card {
    font-family: 'work sans';
    text-decoration: none;
    /* height: 60vh; */
}

.cardTitle{
    font-family: 'trirong'
}

.media{
    /* width: 100%; */
    height: 45vh;
    width: 30vh;
    object-fit: contain;
}