.icon{
    color: black;
    font-size: 5vh;
    padding: 0 1vw 0 1vw;
}

.icon:hover{
    color: orange;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 15vh;
}